{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block body %}
    <div class="container" style="display: flex; align-items: center; justify-content: center;">
        <div class="screen my-5">
            <div class="screen__content" style="direction: ltr;">
                <img style="width: 100px; margin: 48px 30px;" src="{% static 'assets/img/شعار-شركة-المتخصصون-المعتمد.png' %}" alt="Fixturbo">

                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

                {% if message %}
                    <script>
                        Swal.fire({
                            icon: '{{ message_type }}',  
                            title: '{{ message }}',     
                            showConfirmButton: true,
                        });
                    </script>
                {% endif %}
                <!-- نموذج الدخول -->
                <form method="post" class="login" style="display: block; padding-top: 10px;">
                    {% csrf_token %}
                    <div class="login__field">
                        <i class="login__icon fas fa-mobile-alt"></i>
                        <input type="text" class="login__input" id="phone_number" name="phone_number" placeholder="phone_number" required>
                        <small id="phoneHelp" class="form-text text-muted" style="display: none; color: #dc3545;">
                            <i class="fas fa-exclamation-circle" style="color: #dc3545; margin-right: 5px;"></i>
                            الرقم يجب أن يبدأ بـ 05
                        </small>
                        <small id="phoneLengthHelp" class="form-text text-muted" style="display: none; color: #dc3545;">
                            <div class="spinner-border text-danger" role="status" style="width: 20px; height: 20px; margin: -4px 0px;">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            الرقم يجب أن يحتوي على 10 أرقام
                        </small>
                        
                        
                    </div>
                    
                    <button type="submit" class="button login__submit" id="sendOtpBtn">
                        <span class="button__text">Send OTP</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>                
                </form>
                
                <script>
                    document.getElementById('phone_number').addEventListener('input', function(event) {
                        var phoneNumber = event.target.value;
                        
                        // تحقق إذا كان الرقم يبدأ بـ 05
                        if (!phoneNumber.startsWith('05')) {
                            document.getElementById('phoneHelp').style.display = 'block';  // عرض التنبيه
                        } else {
                            document.getElementById('phoneHelp').style.display = 'none';  // إخفاء التنبيه
                        }
                        
                        // السماح فقط بالأرقام وتحديد أقصى عدد من الأرقام (10 أرقام)
                        event.target.value = phoneNumber.replace(/[^0-9]/g, '').slice(0, 10);
                        
                        // تحقق من طول الرقم (يجب أن يكون 10 أرقام)
                        if (event.target.value.length === 10) {
                            document.getElementById('phoneLengthHelp').style.display = 'none';  // إخفاء التنبيه إذا كان الرقم 10 أرقام
                        } else {
                            document.getElementById('phoneLengthHelp').style.display = 'block';  // عرض التنبيه إذا كان الرقم أقل من 10 أرقام
                        }
                    });
                
                    document.getElementById('sendOtpBtn').addEventListener('click', function(event) {
                        var phoneNumber = document.getElementById('phone_number').value;
                
                        // تحقق من الرقم إذا بدأ بـ 05
                        if (!phoneNumber.startsWith('05') || phoneNumber.length !== 10) {
                            event.preventDefault();  // منع الإرسال إذا لم يبدأ الرقم بـ 05 أو لم يحتوي على 10 أرقام
                            if (!phoneNumber.startsWith('05')) {
                                document.getElementById('phoneHelp').style.display = 'block';  // عرض التنبيه لعدم البدء بـ 05
                            }
                            if (phoneNumber.length !== 10) {
                                document.getElementById('phoneLengthHelp').style.display = 'block';  // عرض التنبيه إذا لم يحتوي على 10 أرقام
                            }
                        }
                    });
                </script>
                

                <div class="social-login">
                    <a href="{% url 'register' %}" class="btn" 
                       style="background: linear-gradient(90deg, #f26b3c, #dc3545); margin-top: 50px; padding: 10px 20px; transition: all 0.3s;">
                        {% trans "Register" %}
                    </a>
                </div>
                
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>        
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>        
        </div>
    </div>

{% endblock %}
